<!DOCTYPE html>
<html>
<head>
  <title>R10192</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row">
	<%= render "layouts/alerts" %>
	<header>
	
	<%= render "layouts/login" %>
		
			<%= link_to home_path, class: "logo text-center" do %>
			<span>
				<h1>Elixir</h1>
				<h4>SCI-FI classics</h4>
			</span>				
				<hr/>

			<%end%>
	
	</header>

	<%= yield %>

	</div><!--end_row-->
</div><!--end_container-->

<footer class="footer">
  	<div class="container">

			<p class="text-muted"><%=Time.now.year%> &copy; Dimitry Nazarov &nbsp;|&nbsp; No rights reserved. Loot away! &nbsp;|&nbsp; <b>debugger:</b>
		User_Id: <%=session[:user_id]%> | Controller: <%=params[:controller]%> | Action: <%=params[:action]%></p>
		
	</div>
</footer>	

</body>
</html>
