<!DOCTYPE html>
<html>
<head>
  <title>R10192</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row">
	<%=flash[:notice] if flash[:notice]%><%=flash[:alert] if flash[:alert]%><br/>


	<%= render "layouts/login" %>
	
	<%=link_to home_path, class: "logo" do%>
		<h1>elixir</h1>
		<hr/>
	<%end%>

	<%= yield %>
	<br/>
	User_Id: <%=session[:user_id]%> | <%=@cart.line_items%> | Controller: <%=params[:controller]%> | Action: <%=params[:action]%>
	</div><!--end_.row-->
</div><!--end_.container-->		
</body>
</html>
